@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1700px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* utility classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* HEader */
header {
  height: 100vh;
  min-height: fit-content;
}
.full-nav {
  box-shadow: 0px 6px 10px -6px rgba(84, 56, 220, 0.81);
  -webkit-box-shadow: 0px 6px 10px -6px rgba(84, 56, 220, 0.81);
  -moz-box-shadow: 0px 6px 10px -6px rgba(84, 56, 220, 0.81);
}
.navBar {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem;
  height: 10vh;
}
.closeButton {
  display: none;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 25px;
}
.menus ul li {
  display: inline-block;
  padding: 0 1rem;
}
.menus ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}
.menus ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #5438dc;
  transition: ease-in 0.2s;
}
.menus ul li a:hover::after {
  width: 100%;
}

.heroContent {
  width: 90%;
  margin: 0 auto;
  height: 87vh;
  justify-content: space-around;
}
.contentBox {
  width: 50%;
  padding: 1rem;
}
.contentBox > h1 {
  font-size: 2.5rem;
}
.contentBox > h3 {
  font-size: 1.5rem;
}
.contentBox > p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.title {
  text-transform: uppercase;
}
.buttonBox > button {
  margin-top: 1rem;
  font-family: inherit;
  background-color: #5438dc;
  color: white;
  margin: 0 0.5rem;
}
.imageBox {
  width: 400px;
  height: 400px;
  background-color: rgba(83, 56, 220, 0.096);
  border: none;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.heroImage {
  width: 280px;
  border-radius: 50%;
}

/* Contact */

.formSection {
  height: 100vh;
}
.half-color {
  height: 50%;
  background-color: #5438dc;
  padding: 1rem;
}
.half-width {
  width: 90%;
  margin: 0 auto;
}
.formContent {
  color: white;
  margin: 3rem 0;
}
.contact-title {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}
.formBox {
  margin: 1rem auto;
  background-color: white;
  padding: 2rem;
  min-width: 70%;
  height: 100%;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
}
.mainForm {
  width: 50%;
}
.mainForm > form > div {
  margin-bottom: 0.8rem;
}
input {
  height: 2rem;
  width: 100%;
  padding-left: 0.5rem;
  font-family: inherit;
  color: #807e88;
}
textarea {
  width: 100%;
  height: 180px;
  max-width: 100%;
  max-height: 200px;
}
.icons {
  padding: 0.1rem;
  color: green;
}
.default-hide {
  display: none;
}
.errorMessage {
  color: red;
  font-size: 0.7rem;
}
form > button {
  background-color: #5438dc;
  color: white;
}
.socialBox {
  /* height: 100%; */
  align-self: stretch;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 13, 78, 1) 0%,
    rgba(57, 47, 228, 1) 0%,
    rgba(69, 50, 222, 1) 0%,
    rgba(78, 53, 217, 1) 0%,
    rgba(86, 55, 213, 0.6643032212885154) 0%,
    rgba(0, 31, 255, 0.5550595238095238) 68%
  );
  padding: 1rem;
  width: 50%;
  border-radius: 10px;
}
.socialContainer {
  height: 100%;
}
.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialIcons ul li {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: #000000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .heroContent {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .contentBox {
    width: 100%;
  }
  .contentBox > h1 {
    font-size: 2rem;
  }
  .contentBox > h3 {
    font-size: 1.2rem;
  }
  .contentBox > p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .menus {
    position: fixed;
    top: 0;
    right: -250px;
    background-color: black;
    height: 100%;
    transition: 0.7s ease-in-out;
    z-index: 999;
  }
  .menu-active {
    display: block;
    top: 0;
    right: 0;
    width: 200px;
  }
  .menus > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 8rem;
  }
  .menus > ul > li {
    margin: 1rem 0;
  }
  .menus > ul > li > a {
    color: white;
  }
  .closeButton {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgba(226, 226, 226, 0.712);
  }
  .no-transition {
    transition: none;
  }

  .formBox {
    flex-direction: column;
  }
  .mainForm {
    width: 100%;
  }
  .socialLinks {
    margin-top: 2.5rem;
    width: 100%;
  }
  .socialBox {
    width: 100%;
  }
}
